@import url(assets/fonts/TTLakes/stylesheet.css);

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Fonts */


body {
    font-family: "TT Lakes";

}

/* Declaring colors as variables */
:root {
    --header-background-color: #FFFFFF;
    --main-background-color: #F8F8F8;
    --user-button-color: #FF3E79;
    --user-button-active-color: #96002d;
    --border-color: #D9FFF5;
    --divider-color: #EAEAEA;
    --focused--border-color: #B8FFEC;
    --menu-text-color: #7E7E82;
    --paragraph-color: #1B1C21;
    --decoration-color: #41F6D7;
}

/* Page header */
/* container */
.container {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    min-width: 320px;
    border-bottom: 1px solid var(--border-color);
}

/* page-header media */
@media screen and (min-width: 1120px) {
    .page-header {
        display: none;
    }
}

.logo-burger-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 176px;
}

.page-header__logo-burger-btn-section {
    margin-left: 16px;
}

.user-button {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 62, 121);
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-burger-btn-section__burger-button {
    background-image: url(assets/images/header/burger.png);
}

/*  media for main logo */
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .main-logo {
        order: 1;
    }
}

.divider-image {
    border-right: 2px solid var(--divider-color);
    height: 32px;
}

.user-buttons-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connection-buttons {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 186px;
}

/* connections-buttons media */
@media screen and (min-width: 768px) and (max-width: 1119px) {
    .connection-buttons {
        display: flex;
    }
}

/* Set of buttons pictures */
.call-button {
    background-image: url(assets/images/header/call.png);
}

.chat-button {
    background-image: url(assets/images/header/message.png);
}

.profile-button {
    background-image: url(assets/images/header/profile.png);
}

.connection-buttons__divider {
    margin-right: 16px;
}

/* ==== */
.service-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96px;
}

.user-buttons-set__service-buttons {
    margin-right: 24px;
}

/* Buttons to be shown for 1120px */
.service-buttons__repair-button {
    background-image: url(assets/images/header/repair.png);
}

.service-buttons__status-button {
    background-image: url(assets/images/header/status.png);
}

/* =============== end of header ==================== */

/* Main Content */
.main-content {
    background-color: var(--main-background-color);
    min-width: 320px;
    max-width: 1120px;
}

.decor-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 88px;
}

.decor-header__main-header {
    margin-left: 16px;
    font-size: 1.8em;
}

.text-decoration {
    width: 4px;
    height: 48px;
    border-right: 2px solid var(--decoration-color);
    background-color: var(--decoration-color);
    border-radius: 0 6px 6px 0;
}

.main-content__service-buttons {
    display: none;
}

@media screen and (min-width: 1120px) {
    .main-content__header-user-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
    }
}

/* Showing service buttons on 1120px media query */
@media screen and (min-width: 1120px) {
    .main-content__service-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 24px;
    }

    .service-buttons__repair-button {
        margin: 0 16px 0 8px;
        background-image: url(assets/images/header/repair.png);
    }

    .service-buttons__status-button {
        margin-left: 8px;
        background-image: url(assets/images/header/status.png);
    }
}

/* main menu */
.main-menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    padding: 16px;
    margin: 0 0 16px 0;
    list-style-type: none;
    color: var(--menu-text-color);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (min-width: 1120px) {
    .main-menu__list {
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-top: 0;
    }
}

.main-menu__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-menu__item {
    padding: 8px 16px 8px 16px;
    margin-bottom: 8px;
}

.main-menu__item--focused {
    border: 2px solid var(--focused--border-color);
    border-radius: 6px;
    background-color: var(--header-background-color);
}

.main-menu__link:visited {
    color: var(--menu-text-color);
}

.main-menu__link {
    text-decoration: none;
    color: var(--menu-text-color);
}

.company-description {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .company-description {
        flex-direction: row;
    }
}

@media screen and (min-width: 1120px) {
    .company-description {
        flex-direction: row;
    }
}

.main-content__company-description {
    padding-bottom: 32px;
}

.company-description__text {
    font-size: 14px;
    line-height: 1.4em;
}

.description-text__paragraph {
    margin-left: 16px;
    margin-right: 24px;
    margin-top: 0
}

@media screen and (min-width:1120px) {
    .description-text__paragraph {
        margin-top: 0;
    }
}

.second-paragraph {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .second-paragraph {
        display: block;
    }

}

@media screen and (min-width: 1120px) {
    .second-paragraph {
        display: block;
    }
}

.second-paragraph__end-of-description {
    display: none;
}

@media screen and (min-width: 1120px) {
    .second-paragraph__end-of-description {
        display: inline;
    }
}

.company-description__read-further {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 16px
}

.description-read-further__label {
    font-weight: 600;
    font-size: 1rem;
}

.further-button {
    background-image: url(assets/images/main/read-further-btn.png);
    width: 16px;
    height: 16px;
    background-color: var(--main-background-color);
    border-radius: 50%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-start;
}

.description-read-further__button {
    margin-right: 8px;
}

.company-description__logo {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .company-description__logo {
        object-fit: cover;
        width: 50%;
        height: 30%;
        margin-right: 24px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1120px) {
    .company-description__logo {
        object-fit: cover;
        width: 50%;
        height: 30%;
        margin-right: 24px;
        border-radius: 6px;
    }
}

/* ==================== */
/* Burger menu styles */
.opacity-container {
    display: none;
    min-height: 680px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.96);
}

@media screen and (min-width: 1120px) {
    .opacity-container {
        display: none;
    }
}

.burger-slide-menu {
    width: 320px;
    min-height: 680px;
    height: 100%;
    background-color: rgba(255, 255, 255, 100%);
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.burger-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    min-height: 680px;
    max-height: 920px;
    height: 100%;
    margin: 0 auto;
}

.slide-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger-menu-container__header {
    padding: 24px 0;
}

.logo-close-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
}

.slide-menu-header__close-button {
    background-image: url(assets/images/header/close.png);
}

.slide-menu-header__search-button {
    background-image: url(assets/images/header/search.png);
}

/* these three properties will apply for all buttons */
.user-button {
    transition: opacity 0.3s, background-color 0.2s;
}

.user-button:hover {
    opacity: 0.85;
}

.user-button:active {
    background-color: var(--user-button-active-color);
}

/* ====== */
/* menu items slide menu */
.burger-slide-menu__main-menu {
    padding-top: 24px;
    margin: 0;
}

.burger-slide-menu__text-decoration {
    height: 32px;
    position: absolute;
    left: 0;
    top: 120px;
}

.burger-slide-menu__main-menu-list {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.burger-slide-menu__main-menu-item {
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .burger-slide-menu__main-menu-item {
        padding-bottom: 32px;
    }

}

@media screen and (min-width: 1120px) {}

.burger-slide-menu__main-menu-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--paragraph-color);
}

.burger-slide-menu__main-menu-link:visited {
    color: var(--paragraph-color);
}

.burger-slide-menu__main-menu-link--chosen {
    color: var(--menu-text-color);
}

.burger-slide-menu__main-menu-link--chosen:visited {
    color: var(--menu-text-color);
}


.burger-bottom-contact-language__buttons {
    display: flex;
    width: 152px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.connection-text {
    display: flex;
    flex-direction: column;
}

.connection-text__mail-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--paragraph-color);
    margin-bottom: 8px;
    font-weight: 500;
}

.connection-text__mail-link:visited {
    color: var(--paragraph-color);
}

.connection-text__tel-link {
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: var(--paragraph-color);
    font-weight: 600;
}

.language-switcher__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.language-switcher__item {
    font-weight: 500;
    padding-right: 8px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .language-switcher__item {
        padding-top: 40px;
    }
}

@media screen and (min-width: 1120px) {}

.language-switcher__link {
    text-decoration: none;
    color: var(--paragraph-color);
}

.language-switcher__link:visited {
    color: var(--paragraph-color);
}

.language-switcher__link--chosen {
    color: var(--menu-text-color);
}

.language-switcher__link--chosen:visited {
    color: var(--menu-text-color);
}